RewriteEngine On


RewriteRule ^home/$ public/page/index.php [L]
RewriteRule ^home$ public/page/index.php [L]
RewriteRule ^admin/$ public/admin/Home.php [L]
RewriteRule ^admin$ public/admin/Home.php [L]
RewriteRule ^login$ public/page/login.php [L]
RewriteRule ^top$ public/page/bang-xep-hang.php [L]

